body {
  background-color: lightcyan;
}
.todo-list {
  background-color: #f6eecb;
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #efefef;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee,
    0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px #eee,
    0 20px 1px -9px rgba(0, 0, 0, 0.15);

  padding: 30px;
}

.todo-item {
  background-color: #f7ffaa;
  padding: 0px 10px 0px 0;
  margin: 5px 0 5px 0;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 70%;
  border-bottom: 1px solid #cecece;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.15), 0px 11px 3px -7px #5c6164;
}
